#jk-hierarchy {
  max-width: 35%;
  overflow-x: scroll;
  position: fixed;
  white-space: nowrap;
  z-index: 35;
  top: 0;
  padding: 18px 10px 18px 10px;
  right: 0;
  overflow-y: scroll;
  height: 100%;
  border-left: #24292e 1px solid;
}

#jk-hierarchy .current {
  background-color: lightblue;
}

#jk-hierarchy li.folder {
  font-weight: bold;
}

#jk-hierarchy ul {
  padding-left: 10px;
}

#jk-hierarchy ul li {
  cursor: pointer;
  padding: 0.15em 0 0.15em 1.5em;
  margin-bottom: 0.2em;
  text-indent: 0.4em;
  list-style:none;
  background-size: 1.8em;
  background-repeat: no-repeat;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/alpha__page.svg');
}

#jk-hierarchy ul li.folder {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/objects__folder--open.svg');
}

#jk-hierarchy ul li.folder.collapsed {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/alpha__folder.svg');
}

#jk-hierarchy ul li.gitgud-danger {
  color: #cb2431 !important;
}

#jk-hierarchy ul li.gitgud-warning {
  color: #ff9c4e;
}

#develop-notice {
  background: #cb2431;
  color: #FFFFFF;
  display: block;
  font-size: 25px;
  left: 0px;
  line-height: 30px;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 0px;
  vertical-align: middle;
  width: 100%;
  z-index: 100;
}

.close-notice {
  display: inline-block;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.icon-danger {
  background-color: #cb2431;
  border: 1px solid #b31f2a;
  border-radius: 3px;
  padding: 1px 3px;
}

.icon-warning {
  background-color: #ff9c4e;
  border: 1px solid #f48025;
  border-radius: 3px;
  padding: 1px 3px;
}

.icon-comment {
  background-color: #3098ff;
  border: 1px solid #0080ff;
  border-radius: 3px;
  padding: 1px 3px;
}

.icon-unopened {
  background-color: #fafbfc;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 1px 3px;
}

.warning-count, .danger-count, .comment-count, .unopened-count {
  color: #fff;
  font-size: 11px;
  margin-left: 5px;
  margin-right: 2px;
  position: relative;
}

.unopened-count {
  color: #24292e;
}

#jk-notice {
  display: none;
  position: fixed;
  font-size: 5em;
  left: calc(50% - 160px);
  top: 20%;
  z-index: 100;
  padding: 10px 20px;
  width: 320px;
  font-size: 1em;
  background: #fffbdd;
  color: #24292e;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #efe4b1;
};

.gitgud-tooltip {
  cursor: pointer;
}

.gitgud-tooltip-content {
  background-color: #24292e;
  border-radius: 5px;
  color: #fff;
  display: none;
  padding: 10px;
  position: absolute;
  z-index: 999;
}

.gitgud-tooltip-content p{
  min-width: 100px;
  width: max-content;
  max-width: 400px;
  margin-bottom: 0px;
}

.gitgud-tooltip:hover .gitgud-tooltip-content {
  display: block;
}

.gitgud-tooltip .gitgud-tooltip-content {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
}

.gitgud-tooltip-content::before {
  background-color: #24292e;
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
}

.gitgud-tooltip-content::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(100% - 20px)) rotate(45deg);
}
